.tm-row-footer h3 {
   color: #333;
   font-family: Oswald, Helvetica, Arial, Lucida, sans-serif;
   font-size: 18px;
   font-weight: 700;
   margin-bottom: 10px;
   text-align: left;
}

.tm-row-footer span {
   float:right;
   font-size: 10px;
   color: #999;
}

.tm-ads-footer {
    width: 32.2%;
    float: left;
    margin: 0 6px 6px 0;
    box-sizing: border-box;
}

.tm-ads-footer:nth-child(4) {
     margin: 0 0 6px 0;
}

.tm-ads-footer:nth-child(7) {
    margin: 0 0 6px 0;
}

<script>
    window.uolads = window.uolads || [];
</script>
<div class="tm-row-footer">
   <div class="tm-ads-header">
      <h3>Recomendados para você</h3>
      <span>Oferecido por UOL</span>
   </div>
   <div class="tm-ads-footer" id="banner-native-rodape-1-area">
      <script>window.uolads && window.uolads.push({ id: "banner-native-rodape-1-area"});</script>
   </div>
   <div class="tm-ads-footer" id="banner-native-rodape-2-area">
      <script>window.uolads && window.uolads.push({ id: "banner-native-rodape-2-area"});</script>
   </div>
   <div class="tm-ads-footer" id="banner-native-rodape-3-area">
      <script>window.uolads && window.uolads.push({ id: "banner-native-rodape-3-area"});</script>
   </div>
   <div class="tm-ads-footer" id="banner-native-rodape-4-area">
      <script>window.uolads && window.uolads.push({ id: "banner-native-rodape-4-area"});</script>
   </div>
   <div class="tm-ads-footer" id="banner-native-rodape-5-area">
      <script>window.uolads && window.uolads.push({ id: "banner-native-rodape-5-area"});</script>
   </div>
   <div class="tm-ads-footer" id="banner-native-rodape-6-area">
      <script>window.uolads && window.uolads.push({ id: "banner-native-rodape-6-area"});</script>
   </div>
</div>


.tm-row-side h3 {
   color: #333;
   font-family: Oswald, Helvetica, Arial, Lucida, sans-serif;
   font-size: 18px;
   font-weight: 700;
   margin-bottom: 10px;
   text-align: left;
}

.tm-row-side span {
   float:right;
   font-size: 10px;
   color: #999;
}

<script>
    window.uolads = window.uolads || [];
</script>
<div class="tm-row-side">
   <h3>Recomendados para você</h3>
   <span>Oferecido por UOL</span>
   <div class="tm-ads-side" id: "banner-native-rodape-1-area">
      <script>window.uolads && window.uolads.push({ id: "banner-native-rodape-1-area"});</script>
   </div>
   <div class="tm-ads-side" id: "banner-native-rodape-2-area">
      <script>window.uolads && window.uolads.push({ id: "banner-native-rodape-2-area"});</script>
   </div>
   <div class="tm-ads-side" id: "banner-native-rodape-3-area">
      <script>window.uolads && window.uolads.push({ id: "banner-native-rodape-3-area"});</script>
   </div>
   <div class="tm-ads-side" id: "banner-native-rodape-4-area">
      <script>window.uolads && window.uolads.push({ id: "banner-native-rodape-4-area"});</script>
   </div>
   <div class="tm-ads-side" id: "banner-native-rodape-5-area">
      <script>window.uolads && window.uolads.push({ id: "banner-native-rodape-5-area"});</script>
   </div>
   <div class="tm-ads-side" id: "banner-native-rodape-6-area">
      <script>window.uolads && window.uolads.push({ id: "banner-native-rodape-6-area"});</script>
   </div>
</div>


