//tm.jsuol.com.br/uoltm.js?id=twjw4y&v=v29

<a href="%NATIVE_URL%" class="opacity-group clearfix AdBlock" target="_blank">
    <div style="float: left; margin-right: 25px; margin-bottom: 10px; padding: 0px 18px 13px 0px;">
        <img width="100" height="70" src="%NATIVE_IMG%" title="%NATIVE_FULL_DESCRIPTION%" alt="%NATIVE_FULL_DESCRIPTION%" class="h-opacity90 transition-025 AdImage">
    </div>
    <strong class="h-opacity65 transition-025 AdText" style="font-size: 14px;color: #999;margin-bottom: -10px;">Patrocinado</strong>
    <strong class="h-opacity65 transition-025 AdText" title="%NATIVE_FULL_DESCRIPTION%">%NATIVE_FULL_DESCRIPTION%</strong>
</a>


<li class=" c80x80">
	
	<a href="%NATIVE_URL%" class="opacity-group click:m_economia_noticias-veja-mais| AdBlock" title="Governo piora de novo projeção e diz que economia encolherá 3,1% neste ano (Foto: Arte/UOL)">
		<figure>
			<img src="%NATIVE_IMG%" alt="%NATIVE_FULL_DESCRIPTION%" title="%NATIVE_FULL_DESCRIPTION%" width="80" height="80" class="c80x80 h-opacity90 transition-025" style="display: block;">
			<noscript>&lt;img src="%NATIVE_IMG%" alt="%NATIVE_FULL_DESCRIPTION%" width="80" heigh="80"&gt;</noscript>
		</figure>
		<div>
			<h2 class="titulo h-opacity65 transition-025 AdText">%NATIVE_FULL_DESCRIPTION%
				<!-- <span class="coment-counter bgcolor9 bg-color3">115</span> -->
			</h2>
		</div>
	</a>

</li>



<a class="AdBox" href="%NATIVE_URL%" style="position:relative;">
	<img class="attachment-70x70 AdImage" width="70" height="70" src="%NATIVE_IMG%" alt="%NATIVE_FULL_DESCRIPTION%">
	<span class="rpwwt-post-title AdText">%NATIVE_DESCRIPTION%</span>
</a>

