//**************************************************************************
//NATIVE LATERAL
//**************************************************************************
<div class="td-block-span12">
	<div class="td_module_1 td_module_wrap td-animation-stack">
		<div class="td-module-image">
			<div class="td-module-thumb">
				<a class="AdBox" href="%NATIVE_URL%" title="%NATIVE_FULL_DESCRIPTION%" style="overflow:hidden;" target="_blank">
					<div>
						<img class="entry-thumb AdImage" src="%NATIVE_IMG%" alt="%NATIVE_FULL_DESCRIPTION%" title="%NATIVE_FULL_DESCRIPTION%">
						<span style="background: #000;color: #fff !important;font-weight: bold !important;white-space: nowrap;font-size: 13px;padding: 5px 5px;position: absolute; top:0;" class="td-post-date td-module-meta-info">Patrocinado</span>
					</div>
				</a>
			</div>
		</div>
		<h3 class="entry-title td-module-title">
			<a class="AdBox AdText" href="%NATIVE_URL%" title="%NATIVE_FULL_DESCRIPTION%" target="_blank">%NATIVE_DESCRIPTION%</a>
		</h3>
	</div>
</div>



//**************************************************************************
//NATIVE TOPO 
//**************************************************************************
<div class="td_module_related_posts td-animation-stack td_mod_related_posts">
	<div class="td-module-image">
		<div class="td-module-thumb">
			<a class="AdBox" href="%NATIVE_URL%" title="%NATIVE_FULL_DESCRIPTION%" target="_blank">
				<img class="entry-thumb AdImage" src="%NATIVE_IMG%" alt="%NATIVE_FULL_DESCRIPTION%" title="%NATIVE_FULL_DESCRIPTION%">
				<span style="background: #000;color: #fff !important;font-weight: bold !important;white-space: nowrap;font-size: 13px;padding: 5px 5px;position: absolute; top:0;" class="td-post-date td-module-meta-info">Patrocinado</span>
			</a>
		</div>
	</div>
	<div class="item-details">
		<h3 class="entry-title td-module-title">
			<a class="AdBox AdText" href="%NATIVE_URL%" title="%NATIVE_FULL_DESCRIPTION%" target="_blank">%NATIVE_DESCRIPTION%</a>
		</h3>
	</div>
</div>
