Fluxo de implementação Native:

TAG MANAGER:

1) A maioria dos clientes que veiculam NATIVE são do tipo AFILIADO e deverão ser cadastrados em Parceiros Afiliados. Para outros casos, cadastrar em Parceiros Conteúdo (UOL|BOL) e outros Parceiros Publicidade. 
UOL Conteúdo - UOL Produtos - Natives do próprio UOL.

2) Hoje as tarefas estão sendo criadas e priorizadas no Board Pequim. ***A equipe deverá atuar somente na coulna PRIORIZADAS.

3) Dados que devem ser utilizados para gerar o NATIVE:

CAF: 48600ab896d44f0ebb3588c38f3803b3 (Código do cliente)
Posição do native: segunda posição/ bloco de noticias ( circulado em anexo) 
URL: http://terceirotempo.bol.uol.com.br/

OBS: O afiliado já tem o native, estamos inserindo uma nova posição.


Exemplo de markup utilizado para configurar um anúncio do tipo NATIVE:

<a class="AdBlock" href="%NATIVE_URL%">
	<div class="cut-img AdImage" style="position:relative;">
		<img src="%NATIVE_IMG%" alt="%NATIVE_FULL_DESCRIPTION%">
		<span style="background: #000;color: #fff !important;font-weight: bold !important;position: absolute;white-space: nowrap;font-size: 10px;padding: 1px 3px; bottom:0; left:0;">PATROCINADO</span>
	</div>
	<p class="AdText">%NATIVE_DESCRIPTION%</p>
</a>

CAF: 02eb9dbaeb194ea8bd7803d006003f07
Posição do native:- lateral: terceira posição do módulo Recentes, à direita (exemplo anexo); o label será native-lateral
- rodapé: quatro últimos links (exemplo abaixo). O label será native-rodape
- URL: http://www.resumoescolar.com.br/

<li>
	<a class="AdBlock" href="%NATIVE_URL%" class="attachment-70x70" alt="%NATIVE_FULL_DESCRIPTION%">
		<img src="%NATIVE_IMG%" alt="%NATIVE_FULL_DESCRIPTION%">
		<span class="rpwwt-post-title AdText">%NATIVE_DESCRIPTION%</span>
		<span style="background: #000;color: #fff !important;font-weight: bold !important;position: absolute;white-space: nowrap;font-size: 10px;padding: 1px 3px; bottom:0; left:0;">PATROCINADO</span>
	</a>
</li>


<li>

///************
Tag 1
///************
<a class="AdBlock" href="%NATIVE_URL%" style="position:relative;">
	<img class="attachment-70x70 AdImage" width="70" height="70" src="%NATIVE_IMG%" alt="%NATIVE_FULL_DESCRIPTION%">
	<span class="rpwwt-post-title AdText">%NATIVE_DESCRIPTION%</span>
</a>


///************
Tag 2
///************
<a class="AdBlock" class="alrptip" href="%NATIVE_URL%" style="position:relative;">
	<img class="AdImage" width="125" height="90" src="%NATIVE_IMG%" alt="%NATIVE_FULL_DESCRIPTION%" >
	<span class="AdText" style="background: #000;color: #fff !important;font-weight: bold !important;position: absolute;white-space: nowrap;font-size: 10px;padding: 1px 3px; top:71px; left:5px;">PATROCINADO</span>
</a>
<p>
	<a href="%NATIVE_URL%" class="alrptip">%NATIVE_DESCRIPTION%</a>
</p>

#conteudo-principal > section > ul > li:nth-child(3)
O afiliado Resumo Escolar foi adicionado ao Tag Manager e já configuramos os anúncios de Native. Para que possamos finalizar o processo e validar se tudo está correto, precisamos que ele adicione a chamada script abaixo no site. Qualquer dúvida adicional por favor nos contate.
#recent-posts-widget-with-thumbnails-2 > ul > li:nth-child(3) > a
#alrp-container > div:nth-child(5) %NEXT_ELEMENT% #alrp-container > div:nth-child(6) %NEXT_ELEMENT% #alrp-container > div:nth-child(7) %NEXT_ELEMENT% #alrp-container > div:nth-child(8)
Descubra 7 sinais de que está na hora de trocar seu computador
https://confluence.intranet.uol.com.br/confluence/display/LP/Formato+JSON



# **********************************
# cliques-native-veja-tambem-mobile
# **********************************
http://tagmanager.uol.com.br/accounts/management/26/repositories/852/tags/58625/edit

Primeiro native criado.
O anuncio de native deve ser inserido em qual posição.



