<script>
    window.uolads = window.uolads || [];
</script>
<h2>Recomendado para você</h2>
<div class="grid">
    <div class="cell" id="banner-native-rodape-1-area">
        <script>window.uolads && window.uolads.push({ id: "banner-native-rodape-1-area", pos: 1, numAds: 6 });</script>
    </div>
    <div class="cell" id="banner-native-rodape-2-area">
        <script>window.uolads && window.uolads.push({ id: "banner-native-rodape-2-area", pos: 2, numAds: 6 });</script>
    </div>
    <div class="cell" id="banner-native-rodape-3-area">
        <script>window.uolads && window.uolads.push({ id: "banner-native-rodape-3-area", pos: 3, numAds: 6 });</script>
    </div>
    <div class="cell" id="banner-native-rodape-4-area">
        <script>window.uolads && window.uolads.push({ id: "banner-native-rodape-4-area", pos: 4, numAds: 6 });</script>
    </div>
    <div class="cell" id="banner-native-rodape-5-area">
        <script>window.uolads && window.uolads.push({ id: "banner-native-rodape-5-area", pos: 5, numAds: 6 });</script>
    </div>
    <div class="cell" id="banner-native-rodape-6-area">
        <script>window.uolads && window.uolads.push({ id: "banner-native-rodape-6-area", pos: 6, numAds: 6 });</script>
    </div>
</div>
<script>
var count = 0;
function resize() {
    window.frameElement.height = document.body.offsetHeight;
}
window.addEventListener('load', resize);
window.addEventListener('resize', resize);

function loop() {
    if (count < 120) {
        window.setTimeout(loop, 2000);
        resize();
        count++;
    }
}
loop();
</script>

html, body {
    margin: 0;
    padding: 0;
    font-family: Arial;
}
h2 {
    font-size: 22px;
    color: #616264;
    padding: 0;
    margin: 0;
}
.grid {
    width: 585px;
    overflow: hidden;
    font-family: arial;
}
.cell {
    width: 179px;
    margin: 15px 15px 0 0;
    float: left;
}
.cell:nth-child(3n) {
    margin-right: 0;
}
.cell iframe {
    display: block;
    width: 100%;
    height: 205px;
    margin: 0 auto;
}

@media screen and (max-device-width: 1024px) {
    .grid {
        width: 100%;
    }
    .cell {
        width: 100%;
    }
    .cell iframe {
        min-width: auto!important;
        width: 282px;
        height: 263px;
    }
}


(function() {
    var iframe = document.querySelector('#bloco-uol-rodape iframe');
    function resize() {
        if(window.innerWidth < 1024) {
            iframe.style.width = '100%';
        } else {
            iframe.style.width = '615px';
        }
    }
    window.addEventListener('load', resize);
    window.addEventListener('resize', resize);
    window.setTimeout(resize, 500);
})();