html, body {
  margin: 0;
  padding: 0;
}
#main {
  display: block;
  width: 1190px;
  height: 250px;
  position: relative;
  overflow: hidden;
  background: -webkit-linear-gradient(347deg, rgb(112, 2, 22) 0%, rgb(167, 0, 29) 20%, rgb(202, 0, 34) 40%, rgb(147, 1, 27) 63%, rgb(98, 1, 20) 83%);
  background: -o-linear-gradient(347deg, rgb(112, 2, 22) 0%, rgb(167, 0, 29) 20%, rgb(202, 0, 34) 40%, rgb(147, 1, 27) 63%, rgb(98, 1, 20) 83%);
  background: -ms-linear-gradient(347deg, rgb(112, 2, 22) 0%, rgb(167, 0, 29) 20%, rgb(202, 0, 34) 40%, rgb(147, 1, 27) 63%, rgb(98, 1, 20) 83%);
  background: -moz-linear-gradient(347deg, rgb(112, 2, 22) 0%, rgb(167, 0, 29) 20%, rgb(202, 0, 34) 40%, rgb(147, 1, 27) 63%, rgb(98, 1, 20) 83%);
  background: linear-gradient(103deg, rgb(112, 2, 22) 0%, rgb(167, 0, 29) 20%, rgb(202, 0, 34) 40%, rgb(147, 1, 27) 63%, rgb(98, 1, 20) 83%);
}

#main iframe, #click-area {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
#main .red-ball {
  width: 520px;
  height: 520px;
  background: url(red-ball.png) center center no-repeat;
  position: absolute;
  top: -144px;
  left: 335px;
  z-index: 0;
}

.step-1 .sprite-arrow, .step-2 .sprite-arrow, .step-3 .sprite-arrow {
  opacity: 0;
}

.sprite-text-1, .sprite-text-2, .sprite-text-3 {
  width: 739px;
  position: absolute;
  top: 100px;
  left: 200px;
  z-index: 1;
} 
.sprite-text-1 {
  background: url(sprite.png) 0 0 no-repeat; 
  height: 50px;
  
}
.sprite-text-2 {
  background: url(sprite.png) 0 -60px no-repeat; 
  height: 60px;
  
}
.sprite-text-3 {
  background: url(sprite.png) 0 -120px no-repeat; 
  height: 60px;
  
}

.sprite-arrow {
  background: url(sprite.png) -353px -216px no-repeat;
  height: 38px;
  width: 39px;
  position: absolute;
  top: 190px;
  left: 50%;
}


