
include ./parts/doctype.html

.container-fluid
	include ./parts/modal.html
	form#main-form-generator
		include ./parts/forms/start-form.html
		include ./parts/forms/vertical-inner-sponsor.html
		include ./parts/forms/horizontal-inner-sponsor.html
		include ./parts/forms/vertical-outer-sponsor.html
		include ./parts/forms/horizontal-outer-sponsor.html
		section#breakpoints-forms.col-xs-12
		include ./parts/forms/end-form.html
		include ./parts/forms/submit.html

include ./parts/footer.html