@charset "UTF-8";

body{ margin: 0px; padding: 0px }

#hitArea {
  position: absolute;
  top:0;
  left: 0;
  z-index: 999;
}

#hitArea img{
  border: 0;
}

#banner {
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-sizing:border-box;
  overflow: hidden;
  position: relative;
  border:solid 1px #000;
  background-color: #000;
  width:320px;
  height:480px;
  cursor: pointer;
}


/*████████████████ ◢ OPENED_BACKGROUND ◣ ████████████████████████████████████████████████████████████*/
/*▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓ ◢ OPENED_BACKGROUND ◣ ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓*/

.simpleShape{
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #000;
}

.borderColor01A{
  left: 0px;
  top: 0px;
  width: 600px;
  height: 100%;
  position: absolute;
  background-color: #651524;
}

.borderColor01B{
  left: 0px;
  top: 0px;
  width: 4px;
  height: 100%;
  z-index: 20;
  position: absolute;
  background-color: #DB2A4B;
}

.borderColor02A{
  left: 0px;
  top: 0px;
  width: 100%;
  height: 300px;
  position: absolute;
  background-color: #651524;
}

.borderColor02B{
  left: 0px;
  top: 0px;
  width: 100%;
  height: 4px;
  z-index: 20;
  position: absolute;
  background-color: #DB2A4B;
}

.borderColor03A{
  right: 0px;
  top: 0px;
  width: 600px;
  height: 100%;
  position: absolute;
  background-color: #651524;
}

.borderColor03B{
  right: 0px;
  top: 0px;
  width: 4px;
  height: 100%;
  z-index: 20;
  position: absolute;
  background-color: #DB2A4B;
}

.borderColor04A{
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 300px;
  position: absolute;
  background-color: #651524;
}

.borderColor04B{
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 5px;
  z-index: 20;
  position: absolute;
  background-color: #DB2A4B;
}

/*████████████████ ◢ BACKGROUND ◣ █████████████████████████████████████████████████████*/
/*▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓ ◢ BACKGROUND ◣ ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓*/

.OPENED_BACKGROUND{
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  position: absolute;
}

.BGImage{
    background: url(../assets/images/BGImage.jpg);
    background-repeat: no-repeat;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 320px;
    height: 600px;
  
    /*SET*/
      -webkit-transform: scale3d(1.1, 1.1, 1) translate3d(0px, -90px, 0px);
              transform: scale3d(1.1, 1.1, 1) translate3d(0px, -90px, 0px);
}

.BGEffect{
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #000;
}

.meatContainer{
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    position: absolute;

    /*SET*/
      -webkit-transform: scale3d(1.1, 1.1, 1) translate3d(0px, -90px, 0px);
              transform: scale3d(1.1, 1.1, 1) translate3d(0px, -90px, 0px);
}

.meatShadow{
    background: url(../assets/images/meatShadow.png);
    background-repeat: no-repeat;
    position: absolute;
    left: 22px;
  top: 251px;
  width: 286px;
  height: 200px;
  
    /*SET*/
      opacity: 1;
      -webkit-transform: translate3d(0px, 0px, 0px);
              transform: translate3d(0px, 0px, 0px);
}

.topMeat{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 378px;
    height: 234px;
}

.meatImage01, .meatImage02, .meatImage03, .meatImage04, .meatImage05, .meatImage06, .meatImage07{
    background: url(../assets/images/meatImage.png);
    background-repeat: no-repeat;
    position: absolute;
}

.meatImage07{
    left: 80px;
  top: 278px;
  width: 61px;
  height: 119px;
  
    /*SET*/
    -webkit-transform: scale3d(.9, .94, 1) translate3d(7px, 0px, 0px);
            transform: scale3d(.9, .94, 1) translate3d(7px, 0px, 0px);
      
}

.meatImage06{
    left: 134px;
  top: 269px;
  width: 44px;
  height: 158px;
  
    /*SET*/
      -webkit-transform: scale3d(.3, 1, 1) translate3d(8px, 0px, 0px);
              transform: scale3d(.3, 1, 1) translate3d(8px, 0px, 0px);
}

.meatImage05{
    left: 159px;
  top: 267px;
  width: 144px;
  height: 114px;
  
    /*SET*/
      -webkit-transform: scale3d(.85, .9, 1) translate3d(-13px, 0px, 0px);
              transform: scale3d(.85, .9, 1) translate3d(-13px, 0px, 0px);
}

.meatImage04{
    left: 170px;
  top: 259px;
  width: 117px;
  height: 97px;
}

.meatImage03{
    left: 152px;
  top: 273px;
  width: 133px;
  height: 151px;
}

.meatImage02{
    left: 89px;
  top: 273px;
  width: 198px;
  height: 141px;
}

.meatImage01{
    left: 34px;
  top: 282px;
  width: 104px;
  height: 114px;
}

.meatImage01 { background-position: 0 0; } 
.meatImage02 { background-position: 0 -124px; } 
.meatImage03 { background-position: 0 -275px; } 
.meatImage04 { background-position: 0 -436px; } 
.meatImage05 { background-position: 0 -543px; } 
.meatImage06 { background-position: 0 -667px; } 
.meatImage07 { background-position: 0 -835px; }

.cutmarkImage01{
    background: url(../assets/images/cutmarkImage01.png);
    background-repeat: no-repeat;
    position: absolute;
    left: 163px;
    top: 269px;
    width: 137px;
    height: 97px;
  
    /*SET*/
      opacity: 0;
      -webkit-transform: translate3d(0px, 0px, 0px);
              transform: translate3d(0px, 0px, 0px);
}

.cutmarkImage02{
    background: url(../assets/images/cutmarkImage02.png);
    background-repeat: no-repeat;
    position: absolute;
    left: 146px;
    top: 273px;
    width: 12px;
    height: 149px;
  
    /*SET*/
      opacity: 0;
      -webkit-transform: translate3d(0px, 0px, 0px);
              transform: translate3d(0px, 0px, 0px);
}

.cutmarkImage03{
    background: url(../assets/images/cutmarkImage03.png);
    background-repeat: no-repeat;
    position: absolute;
    left: 82px;
    top: 272px;
    width: 62px;
    height: 142px;
  
    /*SET*/
      opacity: 0;
      -webkit-transform: translate3d(0px, 0px, 0px);
              transform: translate3d(0px, 0px, 0px);
}

.hitarea_01{
    position: absolute;
    left: 47px;
    top: 225px;
    width: 82px;
    height: 150px;
    /*border: 1px solid green;*/
    z-index: 999999999;
    cursor: pointer;
}

.hitarea_02{
    position: absolute;
    left: 133px;
    width: 45px;
    top: 225px;
    height: 150px;
    /*border:1px solid red;*/
    z-index: 999999999;
    cursor: pointer;
}

.hitarea_03{
    position: absolute;
    left: 183px;
    top: 225px;
    width: 108px;
    height: 150px;
    /*border:1px solid black;*/
    z-index: 999999999;
    cursor: pointer;
}



/*████████████████ ◢ STEP01 ◣ █████████████████████████████████████████████████████████*/
/*▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓ ◢ STEP01 ◣ ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓*/

.STEP01{
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  position: absolute;
}

.CampaignLogo{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 320px;
    height: 480px;
}

.CampaignLogoImage01{
    background: url(../assets/images/CampaignLogoImage01.png);
    background-repeat: no-repeat;
    position: absolute;
    left: 102px;
  top: 26px;
  width: 9px;
  height: 10px;
  
    /*SET*/
      opacity: 0;
}

.CampaignLogoImage02{
    background: url(../assets/images/CampaignLogoImage02.png);
    background-repeat: no-repeat;
    position: absolute;
    left: 121px;
  top: 23px;
  width: 77px;
  height: 14px;
  
    /*SET*/
      opacity: 0;
      -webkit-transform: scale3d(.8, .8, 1);
              transform: scale3d(.8, .8, 1);
}

.CampaignLogoImage03{
    background: url(../assets/images/CampaignLogoImage03.png);
    background-repeat: no-repeat;
    position: absolute;
    left: 207px;
  top: 26px;
  width: 10px;
  height: 10px;
  
    /*SET*/
      opacity: 0;
}

.CampaignLogoImage04{
    background: url(../assets/images/CampaignLogoImage04.png);
    background-repeat: no-repeat;
    position: absolute;
    left: 57px;
  top: 57px;
  /*width: 24px;*/
  height: 7px;
  /*SET*/
  width: 0px;
}

.CampaignLogoImage05{
    background: url(../assets/images/CampaignLogoImage05.png);
    background-repeat: no-repeat;
    position: absolute;
    left: 85px;
  top: 50px;
  width: 10px;
  height: 11px;
  
    /*SET*/
      opacity: 0;
      -webkit-transform: scale3d(.8, .8, 1);
              transform: scale3d(.8, .8, 1);
}

.CampaignLogoImage06{
    background: url(../assets/images/CampaignLogoImage06.png);
    background-repeat: no-repeat;
    position: absolute;
    left: 100px;
  top: 45px;
  width: 51px;
  height: 14px;
  
    /*SET*/
      opacity: 0;
      -webkit-transform: scale3d(.8, .8, 1);
              transform: scale3d(.8, .8, 1);
}

.CampaignLogoImage07{
    background: url(../assets/images/CampaignLogoImage07.png);
    background-repeat: no-repeat;
    position: absolute;
    left: 157px;
  top: 45px;
  width: 50px;
  height: 12px;
  
    /*SET*/
      opacity: 0;
      -webkit-transform: scale3d(.8, .8, 1);
              transform: scale3d(.8, .8, 1);
}

.CampaignLogoImage08{
    background: url(../assets/images/CampaignLogoImage08.png);
    background-repeat: no-repeat;
    position: absolute;
    left: 212px;
  top: 48px;
  width: 21px;
  height: 13px;
  
    /*SET*/
      opacity: 0;
      -webkit-transform: scale3d(.8, .8, 1);
              transform: scale3d(.8, .8, 1);
}

.CampaignLogoImage09{
    background: url(../assets/images/CampaignLogoImage09.png);
    background-repeat: no-repeat;
    position: absolute;
    left: 237px;
  top: 56px;
  /*width: 27px;*/
  height: 8px;
  /*SET*/
  width: 0px;
}

.CampaignLogoImage10{
    background: url(../assets/images/CampaignLogoImage10.png);
    background-repeat: no-repeat;
    position: absolute;
    left: 57px;
  top: 65px;
  width: 207px;
  height: 87px;
  
    /*SET*/
      opacity: 0;
      -webkit-transform: scale3d(.75, .75, 1);
              transform: scale3d(.75, .75, 1);
}

.CampaignLogoImage11{
    background: url(../assets/images/CampaignLogoImage11.png);
    background-repeat: no-repeat;
    position: absolute;
    left: 69px;
  top: 83px;
  width: 185px;
  height: 50px;
  
    /*SET*/
      opacity: 0;
      -webkit-transform: scale3d(.75, .75, 1);
              transform: scale3d(.75, .75, 1);
}

.CampaignLogoImage12{
    background: url(../assets/images/CampaignLogoImage12.png);
    background-repeat: no-repeat;
    position: absolute;
    left: 75px;
  top: 132px;
  width: 172px;
  height: 32px;
  
    /*SET*/
      opacity: 0;
      -webkit-transform: scale3d(.85, .85, 1);
              transform: scale3d(.85, .85, 1);
}

.TXT01A{
    background: url(../assets/images/TXT01A.png);
    background-repeat: no-repeat;
    position: absolute;
    left: 71px;
  top: 176px;
  width: 66px;
  height: 12px;
  
    /*SET*/
      opacity: 0;
      -webkit-transform: translate3d(0px, 15px, 0px);
              transform: translate3d(0px, 15px, 0px);
}

.TXT01B{
    background: url(../assets/images/TXT01B.png);
    background-repeat: no-repeat;
    position: absolute;
    left: 140px;
  top: 176px;
  width: 10px;
  height: 12px;
  
    /*SET*/
      opacity: 0;
      -webkit-transform: translate3d(0px, 15px, 0px);
              transform: translate3d(0px, 15px, 0px);
}

.TXT01C{
    background: url(../assets/images/TXT01C.png);
    background-repeat: no-repeat;
    position: absolute;
    left: 154px;
  top: 176px;
  width: 47px;
  height: 12px;
  
    /*SET*/
      opacity: 0;
      -webkit-transform: translate3d(0px, 15px, 0px);
              transform: translate3d(0px, 15px, 0px);
}

.TXT01D{
    background: url(../assets/images/TXT01D.png);
    background-repeat: no-repeat;
    position: absolute;
    left: 205px;
  top: 176px;
  width: 47px;
  height: 12px;
  
    /*SET*/
      opacity: 0;
      -webkit-transform: translate3d(0px, 15px, 0px);
              transform: translate3d(0px, 15px, 0px);
}

.gameTimer{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 320px;
    height: 480px;
  
    /*SET*/
      opacity: 0;
}


.gameTimerNumber16{
    background: url(../assets/images/gameTimerNumber16.png);
    background-repeat: no-repeat;
    position: absolute;
    left: 156px;
  top: 209px;
  width: 7px;
  height: 10px;
  
    /*SET*/
      opacity: 0;
}

.gameTimerNumber15{
    background: url(../assets/images/gameTimerNumber15.png);
    background-repeat: no-repeat;
    position: absolute;
    left: 156px;
  top: 210px;
  width: 6px;
  height: 9px;
  
    /*SET*/
      opacity: 0;
}

.gameTimerNumber14{
    background: url(../assets/images/gameTimerNumber14.png);
    background-repeat: no-repeat;
    position: absolute;
    left: 156px;
  top: 210px;
  width: 8px;
  height: 9px;
  
    /*SET*/
      opacity: 0;
}

.gameTimerNumber13{
    background: url(../assets/images/gameTimerNumber13.png);
    background-repeat: no-repeat;
    position: absolute;
    left: 156px;
  top: 209px;
  width: 8px;
  height: 10px;
  
    /*SET*/
      opacity: 0;
}

.gameTimerNumber12{
    background: url(../assets/images/gameTimerNumber12.png);
    background-repeat: no-repeat;
    position: absolute;
    left: 156px;
  top: 210px;
  width: 8px;
  height: 9px;
  
    /*SET*/
      opacity: 0;
}

.gameTimerNumber11{
    background: url(../assets/images/gameTimerNumber11.png);
    background-repeat: no-repeat;
    position: absolute;
    left: 156px;
  top: 210px;
  width: 7px;
  height: 9px;
  
    /*SET*/
      opacity: 0;
}

.gameTimerNumber10{
    background: url(../assets/images/gameTimerNumber10.png);
    background-repeat: no-repeat;
    position: absolute;
    left: 156px;
  top: 210px;
  width: 7px;
  height: 9px;
  
    /*SET*/
      opacity: 0;
}

.gameTimerNumber09{
    background: url(../assets/images/gameTimerNumber09.png);
    background-repeat: no-repeat;
    position: absolute;
    left: 156px;
  top: 210px;
  width: 7px;
  height: 9px;
  
    /*SET*/
      opacity: 0;
}

.gameTimerNumber08{
    background: url(../assets/images/gameTimerNumber08.png);
    background-repeat: no-repeat;
    position: absolute;
    left: 156px;
  top: 210px;
  width: 8px;
  height: 9px;
  
    /*SET*/
      opacity: 0;
}

.gameTimerNumber07{
    background: url(../assets/images/gameTimerNumber07.png);
    background-repeat: no-repeat;
    position: absolute;
    left: 156px;
  top: 209px;
  width: 7px;
  height: 10px;
  
    /*SET*/
      opacity: 0;
}

.gameTimerNumber06{
    background: url(../assets/images/gameTimerNumber06.png);
    background-repeat: no-repeat;
    position: absolute;
    left: 152px;
  top: 209px;
  width: 14px;
  height: 10px;
  
    /*SET*/
      opacity: 0;
}

.gameTimerNumber05{
    background: url(../assets/images/gameTimerNumber05.png);
    background-repeat: no-repeat;
    position: absolute;
    left: 152px;
  top: 210px;
  width: 12px;
  height: 9px;
  
    /*SET*/
      opacity: 0;
}

.gameTimerNumber04{
    background: url(../assets/images/gameTimerNumber04.png);
    background-repeat: no-repeat;
    position: absolute;
    left: 152px;
  top: 210px;
  width: 14px;
  height: 9px;
  
    /*SET*/
      opacity: 0;
}

.gameTimerNumber03{
    background: url(../assets/images/gameTimerNumber03.png);
    background-repeat: no-repeat;
    position: absolute;
    left: 152px;
  top: 209px;
  width: 14px;
  height: 10px;
  
    /*SET*/
      opacity: 0;
}

.gameTimerNumber02{
    background: url(../assets/images/gameTimerNumber02.png);
    background-repeat: no-repeat;
    position: absolute;
    left: 152px;
  top: 210px;
  width: 14px;
  height: 9px;
  
    /*SET*/
      opacity: 0;
}

.gameTimerNumber01{
    background: url(../assets/images/gameTimerNumber01.png);
    background-repeat: no-repeat;
    position: absolute;
    left: 152px;
  top: 210px;
  width: 14px;
  height: 9px;
  
    /*SET*/
      opacity: 0;
}

.gameTimerSprite{
    background: url(../assets/images/gameTimerSprite.png);
    background-repeat: no-repeat;
    position: absolute;
    left: 144px;
  top: 199px;
    width: 31px;
    height: 31px;
}

.gameTutorial{
    position: absolute;
    left: -280px;
    top: 200px;
    width: 320px;
    height: 480px;
}

.knifeIcon{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 600px;
    height: 300px;

    /*SET*/
      opacity: 0;
}

.blockedIcon{
    background: url(../assets/images/blockedIcon.png);
    background-repeat: no-repeat;
    position: absolute;
    left: 415px;
    top: 184px;
    width: 48px;
    height: 49px;
}

.knifeIconImage{
    background: url(../assets/images/knifeIconImage.png);
    background-repeat: no-repeat;
    position: absolute;
    left: 404px;
    top: 165px;
    width: 68px;
    height: 68px;
}

.tutorialDotLine{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 600px;
    height: 300px;
}

.dotlineIMG00, .dotlineIMG01, .dotlineIMG02, .dotlineIMG03, .dotlineIMG04, .dotlineIMG05, .dotlineIMG06, .dotlineIMG07, .dotlineIMG08, .dotlineIMG09, .dotlineIMG10,
.dotlineIMG11, .dotlineIMG12, .dotlineIMG13, .dotlineIMG14, .dotlineIMG15, .dotlineIMG16, .dotlineIMG17, .dotlineIMG18, .dotlineIMG19, .dotlineIMG20, .dotlineIMG21,
.dotlineIMG22, .dotlineIMG23, .dotlineIMG24, .dotlineIMG25, .dotlineIMG26{
    background: url(../assets/images/dotlineImage.png);
    background-repeat: no-repeat;
    position: absolute;

    /*SET*/
      opacity: 0;
}

.dotlineIMG00{
    left: 390px;
    top: 46px;
    width: 8px;
    height: 8px;
}

.dotlineIMG01{
    left: 392px;
    top: 57px;
    width: 5px;
    height: 5px;
}

.dotlineIMG02{
    left: 393px;
    top: 64px;
    width: 4px;
    height: 5px;
}

.dotlineIMG03{
    left: 393px;
    top: 72px;
    width: 5px;
    height: 5px;
}

.dotlineIMG04{
    left: 394px;
    top: 79px;
    width: 4px;
    height: 5px;
}

.dotlineIMG05{
    left: 394px;
    top: 86px;
    width: 5px;
    height: 5px;
}

.dotlineIMG06{
    left: 395px;
    top: 94px;
    width: 4px;
    height: 5px;
}

.dotlineIMG07{
    left: 395px;
    top: 101px;
    width: 5px;
    height: 8px;
}

.dotlineIMG08{
    left: 396px;
    top: 108px;
    width: 4px;
    height: 5px;
}

.dotlineIMG09{
    left: 396px;
    top: 116px;
    width: 5px;
    height: 5px;
}

.dotlineIMG10{
    left: 397px;
    top: 123px;
    width: 4px;
    height: 5px;
}

.dotlineIMG11{
    left: 397px;
    top: 130px;
    width: 5px;
    height: 5px;
}

.dotlineIMG12{
    left: 398px;
    top: 138px;
    width: 4px;
    height: 5px;
}

.dotlineIMG13{
    left: 398px;
    top: 145px;
    width: 5px;
    height: 5px;
}

.dotlineIMG14{
    left: 399px;
    top: 152px;
    width: 4px;
    height: 5px;
}

.dotlineIMG15{
    left: 399px;
    top: 160px;
    width: 5px;
    height: 4px;
}

.dotlineIMG16{
    left: 400px;
    top: 167px;
    width: 4px;
    height: 5px;
}

.dotlineIMG17{
    left: 400px;
    top: 174px;
    width: 5px;
    height: 5px;
}

.dotlineIMG18{
    left: 401px;
    top: 182px;
    width: 4px;
    height: 4px;
}

.dotlineIMG19{
    left: 401px;
    top: 189px;
    width: 5px;
    height: 5px;
}

.dotlineIMG20{
    left: 402px;
    top: 196px;
    width: 4px;
    height: 5px;
}

.dotlineIMG21{
    left: 402px;
    top: 203px;
    width: 5px;
    height: 5px;
}

.dotlineIMG22{
    left: 403px;
    top: 211px;
    width: 4px;
    height: 5px;
}

.dotlineIMG23{
    left: 403px;
    top: 218px;
    width: 5px;
    height: 5px;
}

.dotlineIMG24{
    left: 404px;
    top: 225px;
    width: 4px;
    height: 5px;
}

.dotlineIMG25{
    left: 404px;
    top: 233px;
    width: 5px;
    height: 5px;
}

.dotlineIMG26{
    left: 404px;
    top: 240px;
    width: 8px;
    height: 8px;
}

.dotlineIMG00 { background-position: 0px 0px; } 
.dotlineIMG01 { background-position: 0px -9px; } 
.dotlineIMG02 { background-position: 0px -15px; } 
.dotlineIMG03 { background-position: 0px -21px; } 
.dotlineIMG04 { background-position: 0px -27px; } 
.dotlineIMG05 { background-position: 0px -33px; } 
.dotlineIMG06 { background-position: 0px -39px; } 
.dotlineIMG07 { background-position: 0px -45px; } 
.dotlineIMG08 { background-position: 0px -54px; } 
.dotlineIMG09 { background-position: 0px -60px; } 
.dotlineIMG10 { background-position: 0px -66px; } 
.dotlineIMG11 { background-position: 0px -72px; } 
.dotlineIMG12 { background-position: 0px -78px; } 
.dotlineIMG13 { background-position: 0px -84px; } 
.dotlineIMG14 { background-position: 0px -90px; } 
.dotlineIMG15 { background-position: 0px -96px; } 
.dotlineIMG16 { background-position: 0px -101px; } 
.dotlineIMG17 { background-position: 0px -107px; } 
.dotlineIMG18 { background-position: 0px -113px; } 
.dotlineIMG19 { background-position: 0px -118px; } 
.dotlineIMG20 { background-position: 0px -124px; } 
.dotlineIMG21 { background-position: 0px -130px; } 
.dotlineIMG22 { background-position: 0px -136px; } 
.dotlineIMG23 { background-position: 0px -142px; } 
.dotlineIMG24 { background-position: 0px -148px; } 
.dotlineIMG25 { background-position: 0px -154px; } 
.dotlineIMG26 { background-position: 0px -160px; } 

/*████████████████ ◢ STEP02 ◣ █████████████████████████████████████████████████████████*/
/*▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓ ◢ STEP02 ◣ ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓*/

.STEP02{
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    position: absolute;
}

.callToGame{
    position: absolute;
    overflow: hidden;
    left: 44px;
  top: 86px;
  width: 234px;
  height: 37px;
}

.CTGBGColor01{
    left: 0px;
    top: 0px;
    width: 234px;
    height: 7px;
    position: absolute;
    background-color: #DB2A4B;

    /*SET*/
      -webkit-transform: translate3d(-240px, 0px, 0px);
              transform: translate3d(-240px, 0px, 0px);
}

.CTGBGColor02{
    left: 0px;
    top: 7px;
    width: 234px;
    height: 7px;
    position: absolute;
    background-color: #DB2A4B;

    /*SET*/
      -webkit-transform: translate3d(-240px, 0px, 0px);
              transform: translate3d(-240px, 0px, 0px);
}

.CTGBGColor03{
    left: 0px;
    top: 14px;
    width: 234px;
    height: 7px;
    position: absolute;
    background-color: #DB2A4B;

    /*SET*/
      -webkit-transform: translate3d(-240px, 0px, 0px);
              transform: translate3d(-240px, 0px, 0px);
}

.CTGBGColor04{
    left: 0px;
    top: 21px;
    width: 234px;
    height: 7px;
    position: absolute;
    background-color: #DB2A4B;

    /*SET*/
      -webkit-transform: translate3d(-240px, 0px, 0px);
              transform: translate3d(-240px, 0px, 0px);
}

.CTGBGColor05{
    left: 0px;
    top: 28px;
    width: 234px;
    height: 9px;
    position: absolute;
    background-color: #DB2A4B;

    /*SET*/
      -webkit-transform: translate3d(-240px, 0px, 0px);
              transform: translate3d(-240px, 0px, 0px);
}

.CTGTextImage01{
    background: url(../assets/images/CTGTextImage01.png);
    background-repeat: no-repeat;
    position: absolute;
    left: 13px;
  top: 10px;
  width: 72px;
  height: 16px;
  
    /*SET*/
      -webkit-transform: translate3d(-240px, 0px, 0px);
              transform: translate3d(-240px, 0px, 0px);
}

.CTGTextImage02{
    background: url(../assets/images/CTGTextImage02.png);
    background-repeat: no-repeat;
    position: absolute;
    left: 90px;
  top: 7px;
  width: 12px;
  height: 18px;
  
    /*SET*/
      -webkit-transform: translate3d(-240px, 0px, 0px);
              transform: translate3d(-240px, 0px, 0px);
}

.CTGTextImage03{
    background: url(../assets/images/CTGTextImage03.png);
    background-repeat: no-repeat;
    position: absolute;
    left: 107px;
  top: 10px;
  width: 47px;
  height: 16px;
  
    /*SET*/
      -webkit-transform: translate3d(-240px, 0px, 0px);
              transform: translate3d(-240px, 0px, 0px);
}

.CTGTextImage04{
    background: url(../assets/images/CTGTextImage04.png);
    background-repeat: no-repeat;
    position: absolute;
    left: 159px;
  top: 7px;
  width: 55px;
  height: 19px;
  
    /*SET*/
      -webkit-transform: translate3d(-240px, 0px, 0px);
              transform: translate3d(-240px, 0px, 0px);
}

.CTGTextImage05{
    background: url(../assets/images/CTGTextImage05.png);
    background-repeat: no-repeat;
    position: absolute;
    left: 215px;
  top: 22px;
  width: 4px;
  height: 3px;
  
    /*SET*/
      -webkit-transform: translate3d(-240px, 0px, 0px);
              transform: translate3d(-240px, 0px, 0px);
}

/*████████████████ ◢ CORTE CERTO ◣ █████████████████████████████████████████████████████████*/
/*▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓ ◢ CORTE CERTO ◣ ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓*/


.KnifecutImage02 {
  background: url(../assets/images/KnifecutImage02.png);
  background-repeat: no-repeat;
  position: absolute;
  left: 148px;
  top: 239px;
  /*top: 194px;*/
  width: 166px;
  height: 150px;
  /*SET*/
  opacity: 0;
}

.knifeIconImage02 {
  background: url(../assets/images/knifeIconImage02.png);
  background-repeat: no-repeat;
  position: absolute;
  left: 316px;
  top: 328px;
  /*top: 283px;*/
  width: 93px;
  height: 57px;
  /*SET*/
  opacity: 0;
  -webkit-transform: translate3d(-169px, -124px, 0px);
          transform: translate3d(-169px, -124px, 0px);
}

/*████████████████ ◢ CORTE ERRADO 01 ◣ █████████████████████████████████████████████████████████*/
/*▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓ ◢ CORTE ERRADO 01 ◣ ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓*/


.KnifecutImage03 {
  background: url(../assets/images/KnifecutImage03.png);
  background-repeat: no-repeat;
  position: absolute;
  left: 139px;
  /*top: 184px;*/
  top: 229px;
  width: 29px;
  height: 226px;
  /*SET*/
  opacity: 0;
}

.knifeIconImage03 {
  background: url(../assets/images/knifeIconImage03.png);
  background-repeat: no-repeat;
  position: absolute;
  left: 153px;
  /*top: 389px;*/
  top: 434px;
  width: 67px;
  height: 87px;
  /*SET*/
  opacity: 0;
  -webkit-transform: translate3d(-1px, -190px, 0px);
          transform: translate3d(-1px, -190px, 0px);
}

/*████████████████ ◢ CORTE ERRADO 02 ◣ █████████████████████████████████████████████████████████*/
/*▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓ ◢ CORTE ERRADO 02 ◣ ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓*/


.KnifecutImage04 {
  background: url(../assets/images/KnifecutImage04.png);
  background-repeat: no-repeat;
  position: absolute;
  left: 58px;
  /*top: 202px;*/
  top: 247px;
  width: 111px;
  height: 191px;
  /*SET*/
  opacity: 0;
}

.knifeIconImage04 {
  background: url(../assets/images/knifeIconImage04.png);
  background-repeat: no-repeat;
  position: absolute;
  left: 72px;
  /*top: 386px;*/
  top: 431px;
  width: 70px;
  height: 86px;
  /*SET*/
  opacity: 0;
  -webkit-transform: translate3d(75px, -185px, 0px);
          transform: translate3d(75px, -185px, 0px);
}

/*████████████████ ◢ STEP03 ◣ █████████████████████████████████████████████████████████*/
/*▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓ ◢ STEP03 ◣ ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓*/

.STEP03{
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    position: absolute;
}

.gameResult01{
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    position: absolute;
}

.gameResult02{
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    position: absolute;
}

.gameResult03{
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    position: absolute;
}

.gameLogoBox{
    background: url(../assets/images/gameLogoBox.png);
    background-repeat: no-repeat;
    position: absolute;
    left: 0px;
  top: 0px;
  width: 158px;
  height: 120px;
  
    /*SET*/
      -webkit-transform: translate3d(-180px, 0px, 0px);
              transform: translate3d(-180px, 0px, 0px);
}

.gameTextBox{
    background: url(../assets/images/gameTextBox.png);
    background-repeat: no-repeat;
    position: absolute;
    left: 158px;
    top: 0px;
    width: 162px;
    height: 120px;
  
    /*SET*/
      -webkit-transform: translate3d(180px, 0px, 0px);
              transform: translate3d(180px, 0px, 0px);
}

.callToAction{
    background: url(../assets/images/callToAction.png);
    background-repeat: no-repeat;
    position: absolute;
    left: 88px;
  top: 431px;
  width: 169px;
  height: 49px;
  
    /*SET*/
    opacity: 0;
      -webkit-transform: scale3d(1.5, 1.5, 1) translate3d(5px, 50px, 0px);
              transform: scale3d(1.5, 1.5, 1) translate3d(5px, 50px, 0px);
}

.gameTipMask{
    position: absolute;
    overflow: hidden;
    left: 23px;
  top: 341px;
  width: 277px;
  height: 90px;
}

.gameTipContent{
    background: url(../assets/images/gameTipContent.png);
    background-repeat: no-repeat;
    position: absolute;
    left: 9px;
  top: -4px;
  width: 256px;
  height: 92px;
  
    /*SET*/
      -webkit-transform: translate3d(0px, -145px, 0px);
              transform: translate3d(0px, -145px, 0px);
}

/*████████████████ ◢ GameResult01 - Escolha Errada ◣ ██████████████████████████████████*/
/*▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓ ◢ GameResult01 - Escolha Errada ◣ ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓*/

.GameResult01{
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    position: absolute;
}

.resultImage01A{
    background: url(../assets/images/resultImage01A.png);
    background-repeat: no-repeat;
    position: absolute;
    left: 25px;
  top: 54px;
  width: 107px;
  height: 72px;
  
    /*SET*/
      opacity: 0;
      -webkit-transform: scale3d(.8, .8, 1);
              transform: scale3d(.8, .8, 1);
}

.resultText01A{
    background: url(../assets/images/resultText01A.png);
    background-repeat: no-repeat;
    position: absolute;
    left: 25px;
  top: 127px;
  width: 113px;
  height: 15px;
  
    /*SET*/
      opacity: 0;
      -webkit-transform: translate3d(0px, 9px, 0px);
              transform: translate3d(0px, 9px, 0px);
}

.resultText01B{
    background: url(../assets/images/resultText01B.png);
    background-repeat: no-repeat;
    position: absolute;
    left: 22px;
  top: 137px;
  width: 118px;
  height: 14px;
  
    /*SET*/
      opacity: 0;
      -webkit-transform: translate3d(0px, 9px, 0px);
              transform: translate3d(0px, 9px, 0px);
}

.TryAgainBTN{
    background: url(../assets/images/TryAgainBTN.png);
    background-repeat: no-repeat;
    position: absolute;
    left: 161px;
  top: 69px;
  width: 137px;
  height: 42px;
  z-index: 15;
    /*SET*/
      opacity: 0;
      -webkit-transform: scale3d(.5, .5, 1) translate3d(0px, -20px, 0px);
              transform: scale3d(.5, .5, 1) translate3d(0px, -20px, 0px);
      
}

.SeeTheAnswer{
    background: url(../assets/images/SeeTheAnswer.png);
    background-repeat: no-repeat;
    position: absolute;
    left: 146px;
  top: 111px;
  width: 172px;
  height: 49px;
  z-index: 15;
    /*SET*/
      opacity: 0;
      -webkit-transform: scale3d(.5, .5, 1) translate3d(0px, -20px, 0px);
              transform: scale3d(.5, .5, 1) translate3d(0px, -20px, 0px);
}

/*████████████████ ◢ GameResult02 - Escolha Certa na Primeira Tentativa ◣ █████████████*/
/*▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓ ◢ GameResult02 - Escolha Certa na Primeira Tentativa ◣ ▓▓▓▓▓▓▓▓▓▓▓▓▓*/

.GameResult02{
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    position: absolute;
}

.resultImage02A{
    background: url(../assets/images/resultImage02A.png);
    background-repeat: no-repeat;
    position: absolute;
    left: 92px;
  top: 61px;
  width: 131px;
  height: 88px;
  
    /*SET*/
      opacity: 0;
      -webkit-transform: scale3d(.8, .8, 1);
              transform: scale3d(.8, .8, 1);
}

/*████████████████ ◢ GameResult03 - Escolha Certa na Segunda Tentativa ◣ ██████████████*/
/*▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓ ◢ GameResult03 - Escolha Certa na Segunda Tentativa ◣ ▓▓▓▓▓▓▓▓▓▓▓▓▓▓*/

.GameResult03{
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    position: absolute;
}

.resultImage03A{
    background: url(../assets/images/resultImage03A.png);
    background-repeat: no-repeat;
    position: absolute;
    left: 92px;
  top: 61px;
  width: 131px;
  height: 88px;
  
    /*SET*/
      opacity: 0;
      -webkit-transform: scale3d(.8, .8, 1);
              transform: scale3d(.8, .8, 1);
}

/*████████████████ ◢ FIM ◣ ████████████████████████████████████████████████████████████████████████*/
/*▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓ ◢ FIM ◣ ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓*/