<section class="col-xs-12" id="container-add-breakpoints">
    <div class="row">
        <h3>Breakpoints</h3>
        <div class="divider"></div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <div id="ad-breakpoints">
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <button class="btn btn-secondary" type="button" disabled>min-value:</button>
                                </span>
                                <input type="text" name="breakpoint-min-value" class="form-control" placeholder="Adicione um valor mínimo">
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <button class="btn btn-secondary" type="button" disabled>max-value:</button>
                                </span>
                                <input type="text" name="breakpoint-max-value" class="form-control" placeholder="Adicione um valor máximo">
                                <span class="input-group-addon">+</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="divider"></div>
    </div>
</section>