<form class="col-xs-12" id="container-horizontal-inner-sponsor">
    <div id="config-horizontal-inner-sponsor" class="panel panel-primary">
        <div class="panel-heading" data-toggle="collapse" data-target="#config-horizontal-inner-collapse">
            <h2 class="panel-title">Configurações do formato:</h2>
        </div>
        <div id="config-horizontal-inner-collapse" class="panel-collapse collapse">
            <!-- Configuração da Imagem -->
            <div class="panel-body">
                <h3 class="config-title col-md-12 col-sm-12 col-xs-12">Configurações da imagem</h3>
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <h4 data-toggle="tooltip" title="Defina a posição da imagem ao redor do texto">Posicionamento:</h4>
                    <fieldset>
                        <div class="btn-group">
                            <label for="hi-image-position-right" class="btn btn-primary">
                                <input type="radio" name="hi-image-position" id="hi-image-position-right"> Direito
                            </label>
                        </div>
                        <div class="btn-group">
                            <label for="hi-image-position-left" class="btn btn-primary">
                                <input type="radio" name="hi-image-position" id="hi-image-position-left"> Esquerdo
                            </label>
                        </div>
                    </fieldset>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <h4 title="Defina as margens entre o texto e a imagem">Dimensões:</h4>
                    <fieldset>
                        <div class="form-group">
                            <label for="hi-image-width">Largura:</label>
                            <input type="text" id="hi-image-width" name="hi-image-width" class="form-control" placeholder="Digite a largura da imagem">
                        </div>
                        <div class="form-group">
                            <label for="hi-image-height">Altura:</label>
                            <input type="text" id="hi-image-height" name="hi-image-height" class="form-control" placeholder="Digita a altura da imagem">
                        </div>
                    </fieldset>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <h4 title="Defina a distância entre a imagem e o texto">Margem:</h4>
                    <fieldset>
                        <div class="form-group">
                            <label for="hi-image-margin-right">Margem Direita:</label>
                            <input type="text" id="hi-image-margin-right" name="hi-image-margin" class="form-control" placeholder="Digite a margem entre a imagem e o texto">
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="col-xs-10 col-xs-offset-1 col-md-10 col-md-offset-1 divider"></div>
            <!-- *********************************** -->
            <!-- Configurações do Texto de Descrição -->
            <div class="panel-body">
                <h3 class="config-title col-md-12 col-sm-12 col-xs-12">Configurações da descrição</h3>
                <div class="col-md-3 col-sm-12 col-xs-12">
                    <h4 title="Defina as cores da fonte sem e com o mouse over">Cores:</h4>
                    <fieldset class="form-group">
                        <div class="form-group">
                            <label for="hi-text-color">Cor da fonte:</label>
                            <input type="text" id="hi-text-color" name="hi-text-color" class="form-control" placeholder="Digite a cor da fonte">
                        </div>
                        <div class="form-group">
                            <label for="hi-text-color-hover">Cor da fonte no hover:</label>
                            <input type="text" id="hi-text-color-hover" name="hi-text-color-hover" class="form-control" placeholder="Digite a cor da fonte no hover">
                        </div>
                    </fieldset>
                </div>
                <div class="col-md-3 col-sm-12 col-xs-12">
                    <h4 title="Defina o tipo da fonte, o tamanho e a distância entre as linhas">Fonte:</h4>
                    <fieldset class="form-group">
                        <div class="form-group">
                            <label for="hi-text-url">URL da fonte:</label>
                            <textarea id="hi-text-url" name="hi-text-url" class="form-control" rows="3" placeholder="Digite ou cole as url da fonte"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="hi-text-font-size">Tamanho da fonte:</label>
                            <input type="text" id="hi-text-font-size" name="hi-text-font-size" class="form-control" placeholder="Digite o tamanho da fonte">
                        </div>
                        <div class="form-group">
                            <label for="hi-text-line-height">Altura da linha:</label>
                            <input type="text" id="hi-text-line-height" name="hi-text-line-height" class="form-control" placeholder="Digite a altura da linha">
                        </div>
                    </fieldset>
                </div>
                <div class="col-md-3 col-sm-12 col-xs-12">
                    <h4 title="Defina a distância interna entre as margens do container e seu conteúdo">Padding:</h4>
                    <fieldset>
                        <div class="form-group">
                            <label for="hi-text-padding-top">Topo:</label>
                            <input type="text" id="hi-text-padding-top" name="hi-text-padding-top" class="form-control" placeholder="Digite o padding do topo">
                        </div>
                        <div class="form-group">
                            <label for="hi-text-padding-right">Direita:</label>
                            <input type="text" id="hi-text-padding-right" name="hi-text-padding-right" class="form-control" placeholder="Digite o padding da direita">
                        </div>
                        <div class="form-group">
                            <label for="hi-text-padding-bottom">Inferior:</label>
                            <input type="text" id="hi-text-padding-bottom" name="hi-text-padding-bottom" class="form-control" placeholder="Digite o padding inferior">
                        </div>
                        <div class="form-group">
                            <label for="hi-text-padding-left">Esquerda:</label>
                            <input type="text" id="hi-text-padding-left" name="hi-text-padding-left" class="form-control" placeholder="Digite o padding da esquerda">
                        </div>
                    </fieldset>
                </div>
                <div class="col-md-3 col-sm-12 col-xs-12">
                    <h4 title="Defina as margens externas do container">Margens:</h4>
                    <fieldset>
                        <div class="form-group">
                            <label for="hi-text-margin-top">Superior:</label>
                            <input type="text" id="hi-text-margin-top" name="hi-text-margin-top" class="form-control" placeholder="Digite a margem do superior">
                        </div>
                        <div class="form-group">
                            <label for="hi-text-margin-right">Direita:</label>
                            <input type="text" id="hi-text-margin-right" name="hi-text-margin-right" class="form-control" placeholder="Digite a margem da direita">
                        </div>
                        <div class="form-group">
                            <label for="hi-text-margin-bottom">Inferior:</label>
                            <input type="text" id="hi-text-margin-bottom" name="hi-text-margin-bottom" class="form-control" placeholder="Digite a margem inferior">
                        </div>
                        <div class="form-group">
                            <label for="hi-text-margin-left">Esquerda:</label>
                            <input type="text" id="hi-text-margin-left" name="hi-text-margin-left" class="form-control" placeholder="Digite a margem da esquerda">
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="col-xs-10 col-xs-offset-1 col-md-10 col-md-offset-1 divider"></div>
            <!-- *********************************** -->
            <!-- Configurações do Texto Bloco Sponsor -->
            <div class="panel-body">
                <h3 class="config-title col-md-12 col-sm-12 col-xs-12">Configurações do bloco patrocinado</h3>
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <h4 title="Defina o posicionamento horizontal do bloco, dentro da imagem">Posicionamento horizontal dentro da imagem:</h4>
                    <fieldset>
                        <div class="btn-group">
                            <label for="hi-sponsor-position-right" class="btn btn-primary">
                                <input type="radio" name="hi-sponsor-horizontal-position" id="hi-sponsor-position-right"> Direito
                            </label>
                            <label for="hi-sponsor-position-left" class="btn btn-primary">
                                <input type="radio" name="hi-sponsor-horizontal-position" id="hi-sponsor-position-left"> Esquerdo
                            </label>
                        </div>
                    </fieldset>
                    <h4 title="Defina o posicionamento vertical do bloco, dentro da imagem">Posicionamento vertical dentro da imagem:</h4>
                    <fieldset>
                        <div class="btn-group">
                            <label for="hi-sponsor-position-top" class="btn btn-primary">
                                <input type="radio" name="hi-sponsor-vertical-position" id="hi-sponsor-position-top"> Superior
                            </label>
                            <label for="hi-sponsor-position-bottom" class="btn btn-primary">
                                <input type="radio" name="hi-sponsor-vertical-position" id="hi-sponsor-position-bottom"> Inferior
                            </label>
                        </div>
                    </fieldset>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <h4 title="Defina as cores da fonte sem e com o mouse over">Cores:</h4>
                    <fieldset class="form-group">
                        <div class="form-group">
                            <label for="hi-sponsor-bg-color">Cor de fundo do bloco:</label>
                            <input type="text" id="hi-sponsor-bg-color" name="hi-sponsor-bg-color" class="form-control" placeholder="Digite a cor de fundo do patrocinado">
                        </div>
                        <div class="form-group">
                            <label for="hi-sponsor-text-color">Cor da fonte:</label>
                            <input type="text" id="hi-sponsor-text-color" name="hi-sponsor-text-color" class="form-control" placeholder="Digite a cor da fonte">
                        </div>
                        <div class="form-group">
                            <label for="hi-sponsor-text-color-hover">Cor da fonte no hover:</label>
                            <input type="text" id="hi-sponsor-text-color-hover" name="hi-sponsor-text-color-hover" class="form-control" placeholder="Digite a cor da fonte no hover">
                        </div>
                    </fieldset>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <h4 title="Defina o tipo da fonte, o tamanho e a distância entre as linhas">Fonte:</h4>
                    <fieldset class="form-group">
                        <div class="form-group">
                            <label for="hi-sponsor-text-url">URL da fonte:</label>
                            <textarea id="hi-sponsor-text-url" name="hi-sponsor-text-url" class="form-control" rows="3" placeholder="Digite ou cole as url da fonte"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="hi-sponsor-text-font-size">Tamanho da fonte:</label>
                            <input type="text" id="hi-sponsor-text-font-size" name="hi-sponsor-text-font-size" class="form-control" placeholder="Digite o tamanho da fonte">
                        </div>
                        <div class="form-group">
                            <label for="hi-sponsor-text-line-height">Altura da linha:</label>
                            <input type="text" id="hi-sponsor-text-line-height" name="hi-sponsor-text-line-height" class="form-control" placeholder="Digite a altura da linha">
                        </div>
                    </fieldset>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12">
                     <h4 title="Defina a distância interna entre as margens do container e seu conteúdo">Padding:</h4>
                    <fieldset>
                        <div class="form-group">
                            <label for="hi-sponsor-text-padding-top">Superior:</label>
                            <input type="text" id="hi-sponsor-text-padding-top" name="hi-sponsor-text-padding-top" class="form-control" placeholder="Digite o padding do topo">
                        </div>
                        <div class="form-group">
                            <label for="hi-sponsor-text-padding-right">Direita:</label>
                            <input type="text" id="hi-sponsor-text-padding-right" name="hi-sponsor-text-padding-right" class="form-control" placeholder="Digite o padding da direita">
                        </div>
                        <div class="form-group">
                            <label for="hi-sponsor-text-padding-bottom">Inferior:</label>
                            <input type="text" id="hi-sponsor-text-padding-bottom" name="hi-sponsor-text-padding-bottom" class="form-control" placeholder="Digite o padding inferior">
                        </div>
                        <div class="form-group">
                            <label for="hi-sponsor-text-padding-left">Esquerda:</label>
                            <input type="text" id="hi-sponsor-text-padding-left" name="hi-sponsor-text-padding-left" class="form-control" placeholder="Digite o padding da esquerda">
                        </div>
                    </fieldset>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <h4 title="Defina as margens externas do container">Margens:</h4>
                    <fieldset>
                        <div class="form-group">
                            <label for="hi-sponsor-text-margin-top">Topo:</label>
                            <input type="text" id="hi-sponsor-text-margin-top" name="hi-sponsor-text-margin-top" class="form-control" placeholder="Digite a margem do superior">
                        </div>
                        <div class="form-group">
                            <label for="hi-sponsor-text-margin-right">Direita:</label>
                            <input type="text" id="hi-sponsor-text-margin-right" name="hi-sponsor-text-margin-right" class="form-control" placeholder="Digite a margem da direita">
                        </div>
                        <div class="form-group">
                            <label for="hi-sponsor-text-margin-bottom">Inferior:</label>
                            <input type="text" id="hi-sponsor-text-margin-bottom" name="hi-sponsor-text-margin-bottom" class="form-control" placeholder="Digite a margem inferior">
                        </div>
                        <div class="form-group">
                            <label for="hi-sponsor-text-margin-left">Esquerda:</label>
                            <input type="text" id="hi-sponsor-text-margin-left" name="hi-sponsor-text-margin-left" class="form-control" placeholder="Digite a margem da esquerda">
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
</form>