<section class="col-xs-12" id="introduction">
    <div class="row">
        <h1>Gerador de Native</h1>
    </div>
</section>
<section class="col-xs-12">
    <div class="row">
        <h3>Escolha um moldelo</h3>
        <div class="col-xs-12 selectContainer">
            <label class="selectFormat col-xs-12 col-sm-12 col-md-3">
                <input type="radio" name="format" value="vertical-inner-sponsor">
                <img class="img_teste" src="../../images/native_vertical_1.jpg" data-toggle="tooltip" data-placement="top" title="Formato vertical com patrocinado interno">
            </label>
            <label class="selectFormat col-xs-12 col-sm-12 col-md-3">
                <input type="radio" name="format" value="vertical-outer-sponsor">
                <img class="img_teste" src="../../images/native_vertical_5.jpg" data-toggle="tooltip" data-placement="top" title="Formato vertical com patrocinado externo">
            </label>
            <label class="selectFormat col-xs-12 col-sm-12 col-md-3">
                <input type="radio" name="format" value="horizontal-inner-sponsor">
                <img class="img_teste" src="../../images/native_horizontal_5.jpg" data-toggle="tooltip" data-placement="top" title="Formato horizontal com patrocinado interno">
            </label>
            <label class="selectFormat col-xs-12 col-sm-12 col-md-3">
                <input type="radio" name="format" value="horizontal-outer-sponsor">
                <img class="img_teste" src="../../images/native_horizontal_1.jpg" data-toggle="tooltip" data-placement="top" title="Formato horizontal com patrocinado externo">
            </label>
        </div>
    </div>
</section>
<section class="col-xs-12" id="model-description">
    <div class="row">
        <div class="col-xs-12">
            <h3>Modelo vertical com patrocinado dentro da imagem:</h3>
        </div>
        <div class="col-xs-12">
            <h3>Modelo vertical com patrocinado fora da imagem:</h3>
        </div>
        <div class="col-xs-12">
            <h3>Modelo horizontal com patrocinado dentro da imagem:</h3>
        </div>
        <div class="col-xs-12">
            <h3>Modelo horizontal com patrocinado fora da imagem:</h3>
        </div>
    </div>
</section>
<section class="col-xs-12 divider"></section>