<form class="col-xs-12" id="container-vertical-outer-sponsor">
    <div id="config-vertical-outer-sponsor" class="panel panel-primary">
        <div class="panel-heading" data-toggle="collapse" data-target="#config-vertical-outer-collapse">
            <h2 class="panel-title">Configurações do formato:</h2>
        </div>
        <div id="config-vertical-outer-collapse" class="panel-collapse collapse">
            <!-- Configuração da Imagem -->
            <div class="panel-body">
                <h3 class="config-title col-md-12 col-sm-12 col-xs-12">Configurações da imagem</h3>
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <h4 data-toggle="tooltip" title="Defina a posição da imagem ao redor do texto">Posicionamento:</h4>
                    <fieldset>
                        <div class="btn-group">
                            <label for="vo-image-position-top" class="btn btn-primary active focus">
                                <input type="radio" name="vo-image-position-top" id="vo-image-position-top" checked="checked"> Superior
                            </label>
                        </div>
                    </fieldset>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <h4 title="Defina o tamanho da imagem">Dimensões:</h4>
                    <fieldset>
                        <div class="form-group">
                            <label for="img-width">Largura:</label>
                            <input type="text" id="img-width" name="img-width" class="form-control" placeholder="Digite a largura da imagem">
                        </div>
                        <div class="form-group">
                            <label for="image-height">Altura:</label>
                            <input type="text" id="image-height" name="image-height" class="form-control" placeholder="Digite a altura da imagem">
                        </div>
                    </fieldset>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <h4 title="Defina a distância entre a imagem e o texto">Margem inferior:</h4>
                    <fieldset>
                        <div class="form-group">
                            <label for="image-margin-bottom">Margem inferior:</label>
                            <input type="text" id="image-margin-bottom" name="image-margin-bottom" class="form-control" placeholder="Digite a margem inferior">
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="col-xs-10 col-xs-offset-1 col-md-10 col-md-offset-1 divider"></div>
            <!-- *********************************** -->
            <!-- Configurações do Texto de Descrição -->
            <div class="panel-body">
                <h3 class="config-title col-md-12 col-sm-12 col-xs-12">Configurações da descrição</h3>
                <div class="col-md-3 col-sm-12 col-xs-12">
                    <h4 title="Defina as cores da fonte sem e com o mouse over">Cores:</h4>
                    <fieldset class="form-group">
                        <div class="form-group">
                            <label for="text-color">Cor da fonte:</label>
                            <input type="text" id="text-color" name="text-color" class="form-control" placeholder="Digite a cor da fonte">
                        </div>
                        <div class="form-group">
                            <label for="text-color-hover">Cor da fonte no hover:</label>
                            <input type="text" id="text-color-hover" name="text-color-hover" class="form-control" placeholder="Digite a cor da fonte no hover">
                        </div>
                    </fieldset>
                </div>
                <div class="col-md-3 col-sm-12 col-xs-12">
                    <h4 title="Defina o tipo da fonte, o tamanho e a distância entre as linhas">Fonte:</h4>
                    <fieldset class="form-group">
                        <div class="form-group">
                            <label for="text-url">URL da fonte:</label>
                            <textarea id="text-url" name="text-url" class="form-control" rows="3" placeholder="Digite ou cole as url da fonte"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="text-font-size">Tamanho da fonte:</label>
                            <input type="text" id="text-font-size" name="text-font-size" class="form-control" placeholder="Digite o tamanho da fonte">
                        </div>
                        <div class="form-group">
                            <label for="text-line-height">Altura da linha:</label>
                            <input type="text" id="text-line-height" name="text-line-height" class="form-control" placeholder="Digite a altura da linha">
                        </div>
                    </fieldset>
                </div>
                <div class="col-md-3 col-sm-12 col-xs-12">
                    <h4 title="Defina a distância interna entre as margens do container e seu conteúdo">Padding:</h4>
                    <fieldset>
                        <div class="form-group">
                            <label for="text-padding-top">Topo:</label>
                            <input type="text" id="text-padding-top" name="text-padding-top" class="form-control" placeholder="Digite o padding do topo">
                        </div>
                        <div class="form-group">
                            <label for="text-padding-right">Direita:</label>
                            <input type="text" id="text-padding-right" name="text-padding-right" class="form-control" placeholder="Digite o padding da direita">
                        </div>
                        <div class="form-group">
                            <label for="text-padding-bottom">Inferior:</label>
                            <input type="text" id="text-padding-bottom" name="text-padding-bottom" class="form-control" placeholder="Digite o padding inferior">
                        </div>
                        <div class="form-group">
                            <label for="text-padding-left">Esquerda:</label>
                            <input type="text" id="text-padding-left" name="text-padding-left" class="form-control" placeholder="Digite o padding da esquerda">
                        </div>
                    </fieldset>
                </div>
                <div class="col-md-3 col-sm-12 col-xs-12">
                    <h4 title="Defina as margens externas do container">Margens:</h4>
                    <fieldset>
                        <div class="form-group">
                            <label for="text-margin-top">Superior:</label>
                            <input type="text" id="text-margin-top" name="text-margin-top" class="form-control" placeholder="Digite a margem do superior">
                        </div>
                        <div class="form-group">
                            <label for="text-margin-right">Direita:</label>
                            <input type="text" id="text-margin-right" name="text-margin-right" class="form-control" placeholder="Digite a margem da direita">
                        </div>
                        <div class="form-group">
                            <label for="text-margin-bottom">Inferior:</label>
                            <input type="text" id="text-margin-bottom" name="text-margin-bottom" class="form-control" placeholder="Digite a margem inferior">
                        </div>
                        <div class="form-group">
                            <label for="text-margin-left">Esquerda:</label>
                            <input type="text" id="text-margin-left" name="text-margin-left" class="form-control" placeholder="Digite a margem da esquerda">
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="col-xs-10 col-xs-offset-1 col-md-10 col-md-offset-1 divider"></div>
            <!-- *********************************** -->
            <!-- Configurações do Texto Bloco Sponsor -->
            <div class="panel-body">
                <h3 class="config-title col-md-12 col-sm-12 col-xs-12">Configurações do bloco patrocinado</h3>
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <h4 title="Defina o posicionamento horizontal do bloco, fora da imagem">Posicionamento horizontal fora da imagem:</h4>
                    <fieldset>
                        <div class="btn-group">
                            <label class="btn btn-primary">
                                <input type="radio" name="sponsor-horizontal-position" id="sponsor-position-right"> Direito
                            </label>
                            <label class="btn btn-primary">
                                <input type="radio" name="sponsor-horizontal-position" id="sponsor-position-left"> Esquerdo
                            </label>
                        </div>
                    </fieldset>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <h4 title="Defina as cores da fonte sem e com o mouse over">Cores:</h4>
                    <fieldset class="form-group">
                        <div class="form-group">
                            <label for="sponsor-bg-color">Cor de fundo do bloco:</label>
                            <input type="text" id="sponsor-bg-color" name="sponsor-bg-color" class="form-control" placeholder="Digite a cor de fundo do patrocinado">
                        </div>
                        <div class="form-group">
                            <label for="sponsor-text-color">Cor da fonte:</label>
                            <input type="text" id="sponsor-text-color" name="sponsor-text-color" class="form-control" placeholder="Digite a cor da fonte">
                        </div>
                        <div class="form-group">
                            <label for="sponsor-text-color-hover">Cor da fonte no hover:</label>
                            <input type="text" id="sponsor-text-color-hover" name="sponsor-text-color-hover" class="form-control" placeholder="Digite a cor da fonte no hover">
                        </div>

                    </fieldset>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <h4 title="Defina o tipo da fonte, o tamanho e a distância entre as linhas">Fonte:</h4>
                    <fieldset class="form-group">
                        <div class="form-group">
                            <label for="sponsor-text-url">URL da fonte:</label>
                            <textarea id="sponsor-text-url" name="sponsor-text-url" class="form-control" rows="3" placeholder="Digite ou cole as url da fonte"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="sponsor-text-font-size">Tamanho da fonte:</label>
                            <input type="text" id="sponsor-text-font-size" name="sponsor-text-font-size" class="form-control" placeholder="Digite o tamanho da fonte">
                        </div>
                        <div class="form-group">
                            <label for="sponsor-text-line-height">Altura da linha:</label>
                            <input type="text" id="sponsor-text-line-height" name="sponsor-text-line-height" class="form-control" placeholder="Digite a altura da linha">
                        </div>
                    </fieldset>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12">
                     <h4 title="Defina a distância interna entre as margens do container e seu conteúdo">Padding:</h4>
                    <fieldset>
                        <div class="form-group">
                            <label for="sponsor-text-padding-top">Superior:</label>
                            <input type="text" id="sponsor-text-padding-top" name="sponsor-text-padding-top" class="form-control" placeholder="Digite o padding do topo">
                        </div>
                        <div class="form-group">
                            <label for="sponsor-text-padding-right">Direita:</label>
                            <input type="text" id="sponsor-text-padding-right" name="sponsor-text-padding-right" class="form-control" placeholder="Digite o padding da direita">
                        </div>
                        <div class="form-group">
                            <label for="sponsor-text-padding-bottom">Inferior:</label>
                            <input type="text" id="sponsor-text-padding-bottom" name="sponsor-text-padding-bottom" class="form-control" placeholder="Digite o padding inferior">
                        </div>
                        <div class="form-group">
                            <label for="sponsor-text-padding-left">Esquerda:</label>
                            <input type="text" id="sponsor-text-padding-left" name="sponsor-text-padding-left" class="form-control" placeholder="Digite o padding da esquerda">
                        </div>
                    </fieldset>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <h4 title="Defina as margens externas do container">Margens:</h4>
                    <fieldset>
                        <div class="form-group">
                            <label for="sponsor-text-margin-top">Topo:</label>
                            <input type="text" id="sponsor-text-margin-top" name="sponsor-text-margin-top" class="form-control" placeholder="Digite a margem do superior">
                        </div>
                        <div class="form-group">
                            <label for="sponsor-text-margin-right">Direita:</label>
                            <input type="text" id="sponsor-text-margin-right" name="sponsor-text-margin-right" class="form-control" placeholder="Digite a margem da direita">
                        </div>
                        <div class="form-group">
                            <label for="sponsor-text-margin-bottom">Inferior:</label>
                            <input type="text" id="sponsor-text-margin-bottom" name="sponsor-text-margin-bottom" class="form-control" placeholder="Digite a margem inferior">
                        </div>
                        <div class="form-group">
                            <label for="sponsor-text-margin-left">Esquerda:</label>
                            <input type="text" id="sponsor-text-margin-left" name="sponsor-text-margin-left" class="form-control" placeholder="Digite a margem da esquerda">
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
</form>