/* ==========================================================================
BLOCO CSS PADRÃO
========================================================================== */
.ad-box {
    text-decoration: none;
    display: block;
    height: 100%;
    width: 100%;
}
.ad-box .ad-image {
    background-image: url("[%Imagem%]");
    background-size: cover;
    background-position: center;
    position: relative;
    %%IMGMARGIN%%;
    width: %%IMGWIDTH%%;
    height: %%IMGHEIGHT%%;
}
.ad-box .ad-image:before {
    background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.85) 100%);
    position: absolute;
    width: %%IMGWIDTH%%;
    height: %%IMGHEIGHT%% ;
    content: "";
    transition: opacity .2s ease-in-out;
    opacity: 0.2;
}
.ad-box .ad-image:hover:before {
    opacity: 0.6;
}

.ad-box .ad-text-wrapper {
    position: relative;
}
.ad-box .ad-text {
    color: #111111; ''
    font: 400 12px/22px 'Roboto';
    display: block;
    color: %%TEXTCOLOR%%;
    font: %%TEXTDETAILS%%;
    line-height: %%TEXTLINEHEIGHT%% ;
    background-color: %%TEXTBGCOLOR%% ;
    margin: 0;
}
.ad-box .ad-text:hover {
    color: %%TEXTCOLORHOVER%%;
    background-color: %%TEXTBGCOLORHOVER%%;
}
/* ==========================================================================
BLOCO CSS PADRÃO ------------------------ END
========================================================================== */