/* ==========================================================================
BLOCO CSS HORIZONTAL
========================================================================== */
.ad-text-wrapper {
    width: 225px;
    float:left;
}
 .ad-image{
    padding: 0;
    float: %%IMGFLOAT%%;
}

/* ************************************************************
.ad-text-image-in / .ad-text-image-out
Adicionado a <div> para "Patrocinado" dentro ou fora da imagem
************************************************************ */

/* PATROCINADO DENTRO DA IMAGEM */
div[class*=ad-text-image-in] .ad-text{
    padding-top: calc(0px + %%TEXTPADDINGT%%);
}
/* PATROCINADO DENTRO DA IMAGEM ---- end*/

/* PATROCINADO FORA DA IMAGEM */
div[class*=ad-text-image-out] .ad-text{
    padding-top: calc(30px + %%TEXTPADDINGT%%);
}
/* PATROCINADO FORA DA IMAGEM ---- end*/

/* ==========================================================================
BLOCO CSS HORIZONTAL -------------------- END
========================================================================== */