/* ==========================================================================
LABEL FORA DA IMAGEM
========================================================================== */
.ad-box .ad-label {
    background: %%SPONSORBGCOLOR%%;
    color: %%SPONSORCOLOR%%;
    display: block;
    font: %%SPONSORDETAILS%%;
    margin: %%SPONSORMARGIN%%;
    padding: %%SPONSORPADDING%%;
    position: absolute;
    %%POSITIONVVALUE%% :0; /*top/bottom*/
    %%POSITIONHVALUE%% :0; /*left/right*/
}
.ad-box .ad-label:hover {
    background: %%SPONSORBGCOLORHOVER%%;
    color: %%SPONSORCOLORHOVER%%;
}

.ad-box .ad-label-img {
    display: none;
}
/* ==========================================================================
LABEL FORA DA IMAGEM ---------- END
========================================================================== */