/* ==========================================================================
LABEL DENTRO DA IMAGEM
========================================================================== */
.ad-box .ad-label-img {
    background: %%SPONSORBGCOLOR%%;
    color: %%SPONSORCOLOR%%;
    font: %%SPONSORDETAILS%%;
    margin: %%IMGMARGIN%%;
    padding: %%SPONSORPADDING%%;
    position: absolute;
    transition: .2s ease;
    /**/
    %%IMGHVALUE%%: 0;   /*left/right*/
    %%IMGVVALUE%%: 0;   /*top/bottom*/
    /**/
}

.ad-box .ad-label {
    display: none;
}
/* ==========================================================================
LABEL DENTRO DA IMAGEM ---------- Inicio
========================================================================== */