/* ==========================================================================
BLOCO CSS VERTICAL
========================================================================== */
.ad-tam-image {
    width: 33%;
}

 .ad-image{
    padding: 0 0 68.81%;
}
.ad-text-wrapper {
    width: 33%;
}

/* *********************************************************************
.ad-text-top / .ad-text-bottom
Adicionado a <div> para "Patrocinado" antes ou depois da caixa de texto
********************************************************************* */

/* PATROCINADO DEPOIS DO TEXTO */
div[class*=ad-text-bottom] .ad-text{
    padding-bottom: calc(30px + %%TEXTPADDING%%);
}
/* PATROCINADO DEPOIS DO TEXTO - END*/

/* PATROCINADO ANTES DO TEXTO */
div[class*=ad-text-top] .ad-text{
    padding-top: %%TEXTPADDING%%;
}
/* PATROCINADO ANTES DO TEXTO - END*/
@media (max-width: 340px) {
    .ad-text-wrapper {
        width: 100%;
    }
    .ad-tam-image {
        width: 100%;
    }
}
/* ==========================================================================
BLOCO CSS VERTICAL -------------------- END
========================================================================== */