<div id="banner-1190x70-2-Area" class="banner banner-1190x70" style="height: 70px; margin-top: 5px;">
    <div id="nodeID_79254963">
        <iframe id="adm-579548-htmlpiece" allowtransparency="true" frameborder="0" scrolling="no" src="http://akhtm.nspmotion.com/files/142/639/21553/creatives/269492/661646/index.html?clickTAG=https%253A%252F%252Fwww.johnniewalker.com%252Fpt-br%252F%253Futm_source%253Duol_homepage%2526utm_medium%253Dintervencao%2526utm_campaign%253Dconviction%2526utm_content%253Dcopo&amp;URLClickCount=http%253A%252F%252Fia.nspmotion.com%252Fclick%252F%253Fcap%253D378805%2526c%253D563%2526r%253D%255Brnd%255D&amp;clicktracking=https%253A%252F%252Fadclick.g.doubleclick.net%252Faclk%2525253Fsa%2525253DL%25252526ai%2525253DBPVk2DvP6VZCKPIzYfILnhsAPpvb1_wcAAAAQASCO6K4hOABYluWc0sACYM3w7oCsA7IBDnd3dy51b2wuY29tLmJyugEJZ2ZwX2ltYWdlyAEJ2gEWaHR0cDovL3d3dy51b2wuY29tLmJyL6kC1wxiKv1FkT7AAgLgAgDqAhkvODgwNC91b2wvaG9tZS85ODV4NjBfdG9w-AL00R6AAwGQA5wEmAOcBKgDAeAEAZAGAaAGINgHAA%25252526num%2525253D0%25252526cid%2525253D5GgWsD9aMY3nNIJ38sD5UzkW%25252526sig%2525253DAOD64_0IOuVKCKcuafZBeGBMRi3_7TG1Yg%25252526client%2525253Dca-pub-1027028252617386%25252526adurl%2525253Dhttp%253A%252F%252Fakfs.nspmotion.com%252Ffiles%252F1_1.gif&amp;sessionId=session_id_23239798&amp;assets=&amp;cookieCount=-1&amp;eventValues=undefined&amp;browser=CH&amp;browserVer=47&amp;advKeys=undefined&amp;URLAdvKey=http%253A%252F%252Fia.nspmotion.com%252FadvKey%252F%253Fadv%253D639%2526key%253D%255Bkey%255D&amp;panelGroup=mainPosition%253A_default&amp;panelGroupList=layer%253AmainLayer&amp;width=1190&amp;height=70&amp;instanceCount=0" style="width: 1190px; height: 70px; border-style: none;"></iframe>
    </div>
</div>
