html, body {
  margin: 0;
  padding: 0;
  background: url(FRAME04.png) top center no-repeat;
}

#main {
  width: 100%;
  height: 1088px;
}

.step-1 {
  background: red;
  position: absolute;
  top:100px;
  left: 10px;
  width: 100px;
  height: 100px;
}

.step-2 {
  background: blue;
  position: absolute;
  top:200px;
  left: 10px;
  width: 100px;
  height: 100px;
}


