body {
    overflow-y: scroll;
    position: relative;
}

fieldset {
    margin-bottom: 10px;
    background: #f5f5f5;
    padding: 20px;
    border-radius: 5px;
}

.config-title {
    margin-bottom: 25px;
}

.divider {
    border-bottom: 1px #e0e0e0 solid;
    margin-top: 5px;
    margin-bottom: 20px;
}

.selectContainer {
    margin: 0 auto;
}

.selectFormat > input {
    display: none;
}

.img_teste {
    height: auto;
    width: 100%;
}

.selectFormat > input + img {
    cursor: pointer;
    border: 2px solid transparent;
}

.selectFormat > input:checked + img {
    border: 2px solid #bababa;
}

#introduction h1 {
    text-align: center;
}

#sponsor-config,
#image-config,
#text-description-config,
#container-add-breakpoints,
#container-vertical-inner-sponsor,
#container-vertical-outer-sponsor,
#container-horizontal-inner-sponsor,
#container-horizontal-outer-sponsor,
#model-description > div > div {
    display: none;
}

#btn-submit {
    display: none;
    margin-bottom: 100px;
    padding: 0 30px;
}

.panel-breakpoint {
    background-color: #292b2c !important;
    border-color: #292b2c !important;
    font-weight: bold;
    color: #fff;
}
.panel-breakpoint-primary {
    border-color: #292b2c !important;
}

#ad-breakpoints > div > input {
    border-color: #008247 !important;
    color: #008247 !important;
}

#ad-breakpoints button {
    pointer-events: none;
}

#ad-breakpoints > ::-webkit-input-placeholder {
    color: #008247 !important;
}

#ad-breakpoints .input-group-addon {
    background: #008247 !important;
    border-color: #008247 !important;
    color: #fff;
    cursor: pointer;
}

#breakpoints-forms .btn-remove {
    font-size: 10px;
    background: #d00000;
    color: #fff;
    border-radius: 24px;
    border: 1px solid #ff0000;
}