<head>
<style>
#cto_puma_357168 { position: relative; overflow: hidden;  width: 300px;}
#cto_puma_357168 .cto_title { font-size: 1.3em; font-weight: bold; margin: 0 0 10px 0; }
#cto_puma_357168 .cto_privacy { position: absolute; right: 0px; top: 0px; z-index: 1000; }
#cto_puma_357168 .cto_privacy img { width:19px; height:15px; display: block; }
#cto_puma_357168 .cto_products { }
#cto_puma_357168 .cto_product { position: relative; height: 80px; padding: 5px 0 5px 90px; }
#cto_puma_357168 .cto_product a { }
#cto_puma_357168 .cto_product .cto_product_image { width: 80px; height: 80px; position: absolute; left: 0px; top: 5px; }
#cto_puma_357168 .cto_product .cto_product_image img { max-width: 100%; max-height: 100%; position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); width: auto !important; height: auto !important; }
#cto_puma_357168 .cto_product .cto_product_title { }
#cto_puma_357168 .cto_product .cto_product_description { }
#cto_puma_357168 .cto_product .cto_advertiser { color: #999; }
div {
    float: left;
    margin: 10px;
}
</style>
<!-- BEGIN CRITEO LOADER -->
<script async='async' type="text/javascript" src="https://static.criteo.net/js/ld/publishertag.js"></script>
<!-- END CRITEO LOADER -->
<script> 
    var PREBID_TIMEOUT = 700;

    var adUnits = [
        // {
        //     code: 'div-gpt-ad-1491867376241-0',
        //     sizes: [300,250],
        //     bids: [{
        //         bidder: 'criteo',
        //         params: {
        //            zoneId: 896244
        //         }
        //     }]
        // },
        // {
        //     code: 'div-gpt-ad-1491867376241-1',
        //     sizes: [300,600],
        //     bids: [{
        //         bidder: 'criteo',
        //         params: {
        //            zoneId: 896245
        //         }
        //     }]
        // },
        // {
        //     code: 'div-gpt-ad-1491867376241-2',
        //     sizes: [728,90],
        //     bids: [{
        //         bidder: 'criteo',
        //         params: {
        //            zoneId: 896246
        //         }
        //     }]
        // },
        {
            code: 'div-gpt-ad-1491867376241-3',
            sizes: [300, 250],
            bids: [{
                bidder: 'criteo',
                params: {
                   zoneId: 957788,
                   nativeCallback: function(json) {
                        console.log('JSON', json);
                        if (renderCriteo && typeof renderCriteo == 'function') { 
                            renderCriteo(json)
                        }
                   }
                }
            }]
        }
    ];

    
    var pbjs = pbjs || {};
    pbjs.que = pbjs.que || [];
    //pbjs.que.push(function(){pbjs.enableSendAllBids()}); //Uncomment this line to send keywords for all bidders. We still send empty values for hb_bidder_criteo and hb_pb_criteo when sendStandardTargeting is false
	/*	
	pbjs.bidderSettings = {
		criteo: {
			sendStandardTargeting: false, //false: don't sends hb_bidder and hb_pb for Criteo bids.
			alwaysUseBid: true, //true: always send Criteo keywords even if pbjs.enableSendAllBids is not used.
			adserverTargeting: [
			{
				key: "hb_crt_site",
				val: function(bidResponse) {
					return window.location.hostname;
				}
			},
			{
				key: "crt_pb",
				val: function(bidResponse) {
					if (!bidResponse.cpm) { return null;}
					var ranges = [[0,3,0.01],[3,8,0.05],[8,20,0.5],[20,50,1]]; //Input here custom buckets for Criteo
					var bk = 'pbDg'; //Input here fallback strategy (pbDg for dense)
					
					try {
						for (range of ranges) {
							if (bidResponse.cpm > range[0] && bidResponse.cpm <= range[1]) {
								return (Math.floor(bidResponse.cpm /  range[2] + 0.0001) *  range[2]).toFixed(2);;			
							}
						}
						if (bidResponse.cpm < ranges[0][0]) {
							return null;			
						}
						else {
							return (ranges[ranges.length-1][1]).toFixed(2);;
						}
					}
					catch(e) {
						return bidResponse[bk];
					}
					
				}
			},
			{
				key: "crt_bidid",
				val: function(bidResponse) {
					return  bidResponse.adId; //send the raw CPM
				}
			},
		  ]
		}
	}*/
	
	var googletag = googletag || {};
    googletag.cmd = googletag.cmd || [];
    googletag.cmd.push(function() {
        googletag.pubads().disableInitialLoad();
    });

    pbjs.que.push(function() {
        pbjs.addAdUnits(adUnits);
        pbjs.requestBids({
            bidsBackHandler: sendAdserverRequest
        });
    });

    function sendAdserverRequest() {
        if (pbjs.adserverRequestSent) return;
        pbjs.adserverRequestSent = true;
        googletag.cmd.push(function() {
            pbjs.que.push(function() {
                pbjs.setTargetingForGPTAsync();
                googletag.pubads().refresh();
            });
        });
    }

    setTimeout(function() {
        sendAdserverRequest();
    }, PREBID_TIMEOUT);



	
  </script>
  <!-- Prebid Config Section END -->
  
  <!-- Prebid Boilerplate Section START. No Need to Edit. -->
  <script type="text/javascript" src="http://demo.criteo.com/support/publisher/prebid/prebid0.27.1.js" async></script>

<script async='async' src='https://www.googletagservices.com/tag/js/gpt.js'></script>
<script>
  var googletag = googletag || {};
  googletag.cmd = googletag.cmd || [];
</script>
<script>
  googletag.cmd.push(function() {
    //googletag.defineSlot('/2729856/Prebid_120x600', [300, 250], 'div-gpt-ad-1491867376241-0').addService(googletag.pubads());
     googletag.defineSlot('/2729856/Prebid_300x250', [[300, 600], [300, 250], [160, 600]], 'div-gpt-ad-1491867376241-3').addService(googletag.pubads());
    //googletag.defineSlot('/2729856/Prebid_300x250', [300, 250], 'div-gpt-ad-1491867376241-0').addService(googletag.pubads());
    googletag.defineSlot('/2729856/Prebid_300x600', [[300, 600], [160, 600]], 'div-gpt-ad-1491867376241-1').addService(googletag.pubads());
    googletag.defineSlot('/2729856/Prebid_728x90', [728, 90], 'div-gpt-ad-1491867376241-2').addService(googletag.pubads());
    googletag.pubads().enableSingleRequest();
    googletag.enableServices();
  });
</script>

</head>

<body>

<!--     <div id='div-gpt-ad-1491867376241-0' style='height:250px; width:300px;'>
        <script>
            googletag.cmd.push(function() { googletag.display('div-gpt-ad-1491867376241-0'); });
        </script>
    </div>



    <div id='div-gpt-ad-1491867376241-1' style='height:600px; width:300px;'>
        <script>
            googletag.cmd.push(function() { googletag.display('div-gpt-ad-1491867376241-1'); });
        </script>
    </div>

    <div id='div-gpt-ad-1491867376241-2' style='height:90px; width:728px;'>
        <script>
            googletag.cmd.push(function() { googletag.display('div-gpt-ad-1491867376241-2'); });
        </script>
    </div> -->


    <div id="cto_puma_357168" style="display:none"></div>
    <div id='div-gpt-ad-1491867376241-3' style='display:none;'>

    <script>
        googletag.cmd.push(function() { googletag.display('div-gpt-ad-1491867376241-3'); });

        function renderCriteo (json) {    
            var div = document.getElementById('cto_puma_357168');
            var htmlcode = '';
            var products_count = 1;
            htmlcode += '<div class="cto_mention">Advertisement</div>';
            htmlcode += '<div class="cto_privacy">';
            htmlcode += '<a href="'+ json.privacy.optout_click_url 
                     +'" target="_blank"><img src="'+ json.privacy.optout_image_url + '"></a>';
            htmlcode += '</div>';
            htmlcode += '<div class="cto_products">';
            for (var i in json.products) {
                if (i >= products_count) break;
                htmlcode += '<div class="cto_product">';
                htmlcode += '<a href="' + json.products[i].click_url + '" target="_blank">';
                htmlcode += '<div class="cto_product_image"><img src="'+ json.products[i].image.url +'"></div>';
                htmlcode += '<div class="cto_product_title">'+json.products[i].title+'</div>';
                //htmlcode += '<div class="cto_product_description">'+json.products[i].description+'</div>';
                htmlcode += '<div class="cto_product_cta">'+json.products[i].call_to_action+'</div>';
                htmlcode += '</a>';
                htmlcode += '<a href="' + json.advertiser.logo_click_url + '" target="_blank">';
                htmlcode += '<div class="cto_advertiser">'+json.advertiser.domain +'</div>';
                htmlcode += '</a>';
                htmlcode += '</div>';
            }
            htmlcode += '</div>';
            for (i in json.impression_pixels) {
                htmlcode += '<img src="' + json.impression_pixels[i].url + '" width="0px" height="0px" style="display:none" >';
            }
            div.innerHTML = htmlcode;
            div.style.display = 'block';
        };
    </script>
</div>
</body>